/*-----META-----*/

    /*-----SCROLLING BAR-----*/

    /* Pour les navigateurs basés sur WebKit (Chrome, Edge, Safari) */
    ::-webkit-scrollbar {
      width: 8px; /* Largeur de la barre */
      height: 8px; /* Hauteur de la barre horizontale */
    }

    ::-webkit-scrollbar-thumb {
      background: #ef4444; /* Couleur de la barre */
      border-radius: 10px; /* Arrondi */
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #d92626; /* Couleur au survol */
    }

    ::-webkit-scrollbar-track {
      background: #1f2937; /* Arrière-plan de la zone de défilement */
      border-radius: 10px;
    }

    /*-----SCROLLING BAR-----*/

body {
    margin: 0; padding:0;
    background-color: rgb(17 24 39 );
    height: 100vh; 
    margin: 0;
}

header {
    height: 100px;
    width: 100%;
    background: #1f2937cc;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    border-bottom: solid 1px #4d4457;    
}


header nav ul{
    list-style: none;
    text-align: center;
    margin: 0 auto;  
}

/*-----META-----*/

/*-----TITLE HEADER-----*/

.main-title {
  margin-top: 0;
  padding-top: 30px;
  font-size: 40px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  color: #ef4444;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/*-----TITLE HEADER-----*/

/*-----NAV BUTTON HEADER-----*/

  .basket {
    height: 40px;
    width: 45px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(47, 47, 48);
    float: right;
    margin-top: 30px;
    margin-right: 40px;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 8px;
  }

  .basket:hover {
    background-color: #ef4444;
  }

  .login {
    height: 40px;
    width: 45px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(47, 47, 48,);
    float: left;
    margin-top: 30px;
    margin-left: 0px;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 8px;
  }

  .login:hover {
    background-color: #ef4444;
    }

/*-----NAV BUTTON HEADER-----*/

/*-----SIDE MENU-----*/

ul li{
    margin-top: 40px;
    margin-bottom: 130px;
    margin-right: 20px;
    font-family: "Kanit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    text-align: center;
    background-color: rgb(47, 47, 48,);
    color: #f7fafc; /* Texte clair */
    transition: background-color 0.5s ease, transform 0.3s ease;
}

  ul li:hover {
    transform: scale(1.1);
  }

.menu_2 {
  position: fixed;
  top: 0;
  left: -400px; /* Masqué par défaut */
  margin-top: 130px;
  width: 160px; /* Largeur différente */
  height: 600px;
  background: rgba(47, 47, 48, 0.9);
  color: white;
  transition: left 0.3s ease; /* Animation douce */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding-right: 20px;
  opacity: 1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu_2.open {
  left: 0; /* Fait apparaître le menu */
  opacity: 1;
}

#closeMenu_2 {
  background: none;
  border: none;
  color: white;
  font-size: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  left: 48px;
}

.menu_2 nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

#openMenu_2 {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#openMenu_2:hover {
  transform: scale(1.1); /* Effet de mise en valeur sur le survol */
}

/*-----SIDE MENU-----*/

/*-----MAIN PAGE-----*/

  h1 {
    font-size: 28px;
    margin-top: 100px;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    background: linear-gradient(45deg, #ef4444 30%, #a855f7);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -webkit-text-size-adjust: 100%;
  }

  .title_1 {
    font-size: 80px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 2px;
    color: linear-gradient(to right, #7E7F83 20%, #34312D 20%, #D9C5B2 60% );
  }

  .cta-text {
    text-align: center;
    font-size: 25px;
    font-family: "Kanit",sans-serif;
    color: rgb(145, 143, 143);
    margin-top: 60px;
  }

  .container {
    text-align: center;
  }

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(47, 47, 48);
    color: #d4d1d1;
    font-family: "Kanit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

button:hover {
    background-color: #ef4444;
    transform: scale(1.1);
}

.more {
  text-decoration: none;
  color: white;
}
.more_button {
  background-color: #ef4444;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1f2937;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu.hidden {
    display: none;
}

.hidden {
  opacity: 0; /* Cache l'élément */
  transform: translateX(-20px); /* Déplacer légèrement le bouton à gauche pour un effet de disparition */
  pointer-events: none;
}

/*-----MAIN PAGE-----*/

/*-----MENU INFORMATION-----*/


#infoForm {
  color: white;
}

.info_request {
  justify-content: center;
  text-align: center;
  color: white;
  margin-left: 60px;
}

.blurred {
  filter: blur(10px);
  transition: filter 0.3s ease;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 350px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#submitInfo {
    background-color: #28a745;
}

#submitInfo:hover {
    background-color: #218838;
}

#closeMenu {
    background-color: #dc3545;
}

#closeMenu:hover {
    background-color: #c82333;
}

.good {
  font-family: Arial, Helvetica, sans-serif;
}

h2, .name, .email, .age {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
  text-align: center;
  margin-left: 12px;
}

/*-----MENU INFORMATION-----*/

/*-----BOX SECOND PART-----*/

.box_second_part {
  margin-top: 200px;
  background-color: #1f2937cc;
  width: 100%;
  height: 450px;
}

/*-----BOX SECOND PART-----*/

/*-----FOOTER-----*/
